[maud]
port = 1337 # if you're using docker you should change the port in the compose.yml, not here
acao = "yourdomain" # Access-Control-Allow-Origin header, use * to allow all origins

[database]
dns = "root@/maud"

[runners]
[runners.logging]
file = "/dev/stdout"
[runners.email]
host = "example.org"
port = 587
email = "user@example.org"
password = "example_password"
